<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs And MongoDB</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
  <hr class="my-4">
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
  <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>
